<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="col-md-2" th:fragment="sidebar">
    <h3 class="text-center">
        Sistema de tramite documentario
    </h3>
    <div class="panel-group" id="panel-126110">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panel-126110" href="#panel-element-299527">Collapsible Group Item #1</a>
            </div>
            <div id="panel-element-299527" class="panel-collapse collapse in">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="panel-title" data-toggle="collapse" data-parent="#panel-126110" href="#panel-element-51833">Collapsible Group Item #2</a>
            </div>
            <div id="panel-element-51833" class="panel-collapse collapse">
                <div class="panel-body">
                    Anim pariatur cliche...
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>